<!DOCTYPE html>
<html>
<head>
	<title>Gestion commerciale</title>
 	<meta charset="UTF-8">
  	<link rel="stylesheet" href="css/style.css">
</head> 
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/login.js"></script>
<div class="container" ng-app="gestcom" >

    <div class="login" ng-controller="LoginController">
    	<h1>Bienvenue dans Gestcom !</h1>
    	<form name="loginForm" novalidate class="css-form">
	        <p><input type="text" size="40" ng-model="userId" required placeholder="code utilisateur"/></p>
	        <p><input type="password" size="40" ng-model="password" required placeholder="mot de passe" /></p>
	        <p class="submit"><button ng-click="loginCheck(loginForm)">Login</button></p>
        </form>
        <p class="message">
          <label>{{message}}</label>
        </p>	        
    </div>
    
</div>
</body>
</html>